<main th:remove = "tag">
    <div class="main-container">
        <section class="height-100 cover cover-8">
            <div class="col-md-7 col-sm-5">
                <div class="background-image-holder">
                    <img alt="image" src="/img/task-create-bg.jpg"/>
                </div>
            </div>
            <div class="col-md-5 col-sm-7 bg--white text-center">
                <div class="pos-vertical-center">
                    <img class="logo" alt="Pillar" src="/img/logo3.jpg"/>
                    <p class="lead">
                        New Task
                    </p>
                    <div class="text-left">
                        <form method="post" th:action="@{/boards/{id}/tasks/create(id=${board.id})}">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-with-icon">
                                        <label>Description:</label>
                                        <i class="icon icon-Male-2"></i>
                                        <input type="text" name="description" placeholder="Description" autocomplete="off"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-select">
                                        <label>Assign Worker</label>
                                        <select name="worker" required="required">
                                            <th:block th:each="worker : ${workers}">
                                                <option th:value="${worker.email}" th:text="${worker.fullName}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn--primary vpe">Create</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>