<main th:remove="tag">
    <div class="main-container">
        <section class="height-100 cover cover-8">
            <div class="col-md-7 col-sm-5">
                <div class="background-image-holder">
                    <img alt="image" src="/img/form-bg.jpg"/>
                </div>
            </div>
            <div class="col-md-5 col-sm-7 bg--white text-center">
                <div class="pos-vertical-center">
                    <!--<img class="logo" alt="Pillar" src="/img/logo3.jpg" style="width: 450px !important; height: 324.5px !important;"/>-->
                    <p class="lead">
                        Register
                    </p>
                    <div class="text-left">
                        <form method="post" th:action="@{/register}">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-with-icon">
                                        <label>Username:</label>
                                        <i class="icon icon-Male-2"></i>
                                        <input type="text" name="fullName" placeholder="Username"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-with-icon">
                                        <label>Email Address:</label>
                                        <i class="icon icon-Mail-2"></i>
                                        <input type="email" name="email" placeholder="you@yourwebsite.com"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-with-icon">
                                        <label>Password:</label>
                                        <i class="icon icon-Security-Check"></i>
                                        <input type="password" name="password" placeholder="••••••••••••"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-with-icon">
                                        <label>Confirm Password:</label>
                                        <i class="icon icon-Security-Check"></i>
                                        <input type="password" name="confirmPassword" placeholder="••••••••••••"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-select">
                                        <label>Subscription:</label>
                                        <select name="subscription" required="required">
                                            <option value=0>Free</option>
                                            <option value=10>10 lv</option>
                                            <option value=20>20 lv</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn--primary vpe">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>