<footer th:fragment="footer" th:remove="tag" class="bg--dark footer-1 text-center-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <a th:href="@{/}"><img alt="Pillar" class="logo" src="/img/logo4.png"/></a>
            </div>
            <div class="col-md-5 col-sm-8">
                <ul class="footer__navigation">
                    <li style="display: inline;">
                        <a th:href="@{/about}"><span>About</span></a>
                    </li>
                    <li style="display: inline; margin-left: 20px;">
                        <a th:href="@{/contact}"><span>Contact</span></a>
                    </li>
                    <li style="display: inline; margin-left: 20px;">
                        <a th:href="@{/mobile-app}"><span>Mobile App</span></a>
                    </li>
                    <li style="display: inline; margin-left: 20px;">
                        <a th:href="@{/terms}">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row footer__lower text-center-xs">
            <div class="col-sm-12">
                <hr/>
            </div>
            <div class="col-sm-6">
		                <span class="type--fine-print">© Copyright <span class="update-year">2018</span> Dolores Hotel App - All Rights
		                Reserved</span>
            </div>
            <div class="col-sm-6 text-right text-center-xs">
                <ul class="social-list">
                    <li>
                        <a href="#"><i class="socicon-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="socicon-dribbble"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="socicon-vimeo"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="socicon-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>