<header th:fragment="header" th:remove="tag">
    <div class="container nav-stack">
        <div class="row">
            <div class="nav-stack__upper">
                <div class="col-xs-6">
                    <a th:href="@{/}">
                        <img alt="logo" class="logo" src="/img/logo4.png"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="nav-bar">
                    <div class="nav-module logo-module left">
                        <a href="index.html">
                            <img class="logo logo-dark" alt="logo" src="/img/logo4.png"/>
                            <img class="logo logo-light" alt="logo" src="/img/logo4.png"/>
                        </a>
                    </div>
                    <div class="nav-module menu-module left">
                        <ul class="menu">
                            <li>
                                <a th:href="@{/about}">About</a>
                            </li>
                            <li sec:authorize="isAuthenticated()">
                                <a th:href="@{/boards}">Boards</a>
                            </li>
                            <li sec:authorize="isAuthenticated()">
                                <a th:href="@{/boards/create}">New Board</a>
                            </li>
                            <li sec:authorize="isAuthenticated()">
                                <a th:href="@{/worker/generate-account}">Generate Account</a>
                            </li>
                            <li sec:authorize="isAuthenticated()">
                                <a th:href="@{/logout}">Logout</a>
                            </li>
                            <li sec:authorize="isAnonymous()">
                                <a th:href="@{/register}">Register</a>
                            </li>
                            <li sec:authorize="isAnonymous()">
                                <a th:href="@{/login}">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="nav-mobile-toggle visible-sm visible-xs">
                    <i class="icon-Align-Right icon icon--sm"></i>
                </div>
            </div>
        </div>
    </div>
</header>