<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Dolores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:href="@{/css/socicon.css}" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/interface-icons.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/theme-darkred.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all"/>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700' rel='stylesheet' type='text/css'/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic%7CKarla:400,700" rel="stylesheet" type="text/css"/>
    <link href="css/font-karlaopensans.css" rel="stylesheet" type="text/css"/>
    <!--<link th:href="@{/img/logo.png}" rel="icon"/>-->
</head>

<body data-reveal-selectors="section:not(.masonry):not(:first-of-type):not(.parallax)">

<div class="main-container">
    <section class="height-100 bg--primary page-error">
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <i class="icon icon--lg icon-CPU"></i>
                    <h1>Error 500 - Internal Server Error</h1>
                    <p>Oops, it appears something went wrong. Please go back to the site and try again.<p>
                    <p>If you think this might be a mistake <a href="mailto:k.madjunov@gmail.com?subject=Internal Server Error">drop us a line</a>.</p>
                </div>

                <div class="col-sm-12 text-center">
                    <a class="btn bg--dark" th:href="@{/}">
                        <i class="icon icon-Back2"></i>
                        <span class="btn__text">Go Back</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>


<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/scrollreveal.min.js"></script>
<script src="js/parallax.js"></script>
<script src="js/scripts.js"></script>
<script th:src="@{/js/myscripts.js}"></script>
<script th:src="@{/js/isotope.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
</body>
</html>