<main th:remove="tag">
    <div class="main-container">
        <section class="height-20">
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2>About Our Application</h2>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg--secondary text-justify" style="padding-top: 4em;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <th:block th:if="${message}">
                            <div id="message" class="notification pos-right pos-top col-sm-6 col-md-4 col-xs-12 growl-notice notification--reveal" data-animation="from-right" data-notification-link="growl" style="top: 40px;">
                                <div class="boxed boxed--sm bg--dark">
                                    <span th:text="${message}"></span>
                                </div>
                                <div class="notification-close-cross notification-close"></div>
                            </div>
                        </th:block>

                        <h4 class="text-center">Video</h4>
                        <iframe width="854" height="480" src="https://www.youtube.com/embed/Lvgb0hlfQuc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe>

                        <hr/>

                        <h4 class="text-center">Wiki</h4>
                        <div>
                            <p>Our project’s main purpose is to help the hotel employers managing the job of their different kind of employees all of the time. The technology has two versions – WEB and Mobile application, which are based on Java Spring and Basic for Android.</p>
                            <p>Because of its initial idea and main purpose, and because of the fact that if you are a guest and do not have an account you have limited privileges such as reading some of the pages in the header like the page for information about the connected mobile app and how to contact us. If you want to use the services we provide you have to create your own account by visiting the “Register” page.</p>
                            <p>So what exactly is the amount of information you need to share with us? You have to give us the name of the hotel you are in charge of, your (or the hotel’s official) e-mail address, choose a password, and of course select the type of subscription that mostly suits your professional needs. Now, if you choose the free trial, it is simple. You will receive a confirmation email which will let you activate your account but if you chose option “10$” or “20$”, the first thing you will need to do is pay the required price by using your PayPal account.</p>
                            <p>The WEB version is designed for the BOSS accounts where you can see your workers’ tasks and what they are doing at the moment. If you log in using a WORKER account, you can only see the tasks that your BOSS (hotel) has assigned.</p>
                            <p>When you have already logged in what you can actually do? You’ll see that you have some buttons. You can generate free accounts for your employees in the “Workers” page by clicking “Add Worker” as long as you do not exceed the count that your subscription allows you. For the free trial you have the right to create five workers and distribute them by five different positions (for example: cleaner, cook, maid and so on). Similarly for the second one – you are granted 10 types of position and 20 workers and for the last – 12 types and 35 workers. We do not set any kind of limits about how you arrange your workers. It is absolutely your choice. Their usernames and passwords are automatically generated by our system. If you want to change a worker’s position, you must delete their account first and then generate them a new one.</p>
                            <p>From the “Tasks” page you will be able to create new tasks which will have some description – what the current worker has to do and the task’s current status – which by default is “To do”. When someone accepts it is immediately changed to “Doing” and when he finish the task, it’s status changes to “Done”. We want to point out that when it is finished, the task will not be permanently deleted so at the end of the exact day, week or month the manager can keep an eye on what each worker has done.</p>
                            <p>That is basically all about the WEB Version. Now about the Android. There you can also log in as a BOSS with approximately the same privileges but as opposed to the site it is mainly designed for the workers. When logged in, the workers will not only be able to assign just to the tasks that matches their position, but they won’t be bothered by seeing other workers’ position tasks. Assuming the fact that some of them may have missclicked and chose the wrong one, the workers can also refuse the execution of a task. There can be maximum three taken tasks and you can accept a new one when all previous are finished (or cancelled). The worker status is “free” or “busy” (if even only one task is taken).</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>