<main th:remove="tag">
    <div class="main-container">
        <section class="bg--secondary">
            <div class="container">
                <div class="row">
                    <th:block th:each="name : ${names}">
                        <label>Name</label>
                        <h4 th:text="${name}"></h4>
                    </th:block>

                    <th:block th:each="email : ${emails}">
                        <label>Email</label>
                        <h4 th:text="${email}"></h4>
                    </th:block>

                    <th:block th:each="pass : ${passwords}">
                        <label>Password</label>
                        <h4 th:text="${pass}"></h4>
                    </th:block>
                </div>
            </div>
        </section>
    </div>
</main>