<main th:remove="tag">
    <div class="main-container">
        <section class="cover imagebg height-90 parallax" data-overlay="5">
            <div class="background-image-holder">
                <img alt="background" src="/img/index-bg.jpg"/>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1 class="h2">Our hotel app.</h1>
                        <p>
                            Organize your hotel easily with our app.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>