<main th:remove="tag">
    <div class="main-container">
        <section class="bg--secondary">
            <div class="container">
                <th:block th:if="${message}">
                    <div id="message" class="notification pos-right pos-top col-sm-6 col-md-4 col-xs-12 growl-notice notification--reveal" data-animation="from-right" data-notification-link="growl" style="top: 40px;">
                        <div class="boxed boxed--sm bg--dark">
                            <span th:text="${message}"></span>
                        </div>
                        <div class="notification-close-cross notification-close"></div>
                    </div>
                </th:block>

                <div class="row">
                    <div class="masonry">
                        <div class="masonry__container masonry--active">
                            <th:block th:each="worker : ${workers}">
                                <div class="col-sm-4 masonry__item">
                                    <a th:href="@{/workers/{id}(id=${worker.id})}">
                                        <div class="boxed bg--white box-shadow">
                                            <span>Worker</span>
                                            <label>Email:</label>
                                            <h5 th:text="${worker.email}"></h5>
                                            <label>Password:</label>
                                            <h5 th:text="${worker.realPassword}"></h5>
                                            <label>Type:</label>
                                            <h5 th:text="${worker.type.name}"></h5>
                                            <label>Busy:</label>
                                            <th:block th:if="${worker.busy}">
                                                <h5>Yes</h5>
                                            </th:block>
                                            <th:block th:unless="${worker.busy}">
                                                <h5>No</h5>
                                            </th:block>
                                            <hr/>
                                            <object><a th:href="@{/worker/delete/{id}(id=${worker.id})}">
                                                <button type="button" class="btn bg--dark">Delete worker</button>
                                            </a></object>
                                        </div>
                                    </a>
                                </div>
                            </th:block>
                        </div>
                    </div>

                    <div class="col-sm-12 text-center">
                        <a th:href="@{/worker/create}">
                            <button type="button" class="btn bg--dark">Add worker</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>